/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

.main-div {
  min-height: 100vh;
  background: #c7c7c2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.child-div {
  text-align: center;
  margin-top: 7rem;
  width: 50vh;
  height: 80vh;
  background-color: rgb(226, 228, 229);
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
 
}


.child-div figure img {
  width: 15rem;
  height: 15rem;
}

.child-div figure figcaption {
  color: rgb(168 30 181);
  font-family: math;
  font-weight: bolder;
  font-size: 1.7rem;
  padding-top: 0rem;
  margin-top: -15px;
  text-transform: capitalize;
}

.additems{
    display:flex;
    align-items: center;
}
input {
  /* display: block; */
  min-width: 34rem;
  height: 0rem;
  padding: 2rem 1.2rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: rgb(247 243 243);
  background-color: #7e1d99;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  margin-top: auto;
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
}
input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

/*  Please Subscribe to ThapaTechnical Youtube Channel
/* Click Here: https://www.youtube.com/thapatechnical  */

.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: #7e1d99;
  background-image: none;
  color: #ccc;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
  
}
.fa:hover {
  color: rgb(47, 214, 122);
}

.fa-plus-circle {
  content: "\f067";
  font-size: 2.5rem;
  width:20px;
}

.showItems {
  margin-top: 1rem;
  /* text-align: center; */
  height:29rem;
  overflow:auto !important;
}

.showItems::-webkit-scrollbar{
    overflow:hidden;
    display:none;
}
.eachItem {
  background: #ccc;
  padding: 0.2rem 0rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 34rem;
  word-break: break-word;
  background: #7e1d99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #ccc;
  text-align: left;
  width:90%;
}

.showItems .eachItem i{
    width:10%;
    /* background-color: red; */
}

.fa-trash,
.fa-edit {
  /* margin-left: -2.5rem; */
  cursor: pointer;
  pointer-events: auto;
  padding-right: 0.5rem;
  z-index: 10;
  color: rgb(251, 251, 251);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}

.addItems .fa-edit {
  color: rgb(47, 214, 122);
}

.fa-edit {
  margin-left: -3.5rem;
}

/*  Please Subscribe to ThapaTechnical Youtube Channel
/* Click Here: https://www.youtube.com/thapatechnical  */

/* .eachItem:hover .fa-trash-alt {
  color: rgb(214, 47, 61);
} */

.eachItem:hover .fa-edit {
  color: rgb(100, 214, 47);
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 1rem;
  line-height: 25px;
  max-width: 124px;
  /* text-transform: uppercase; */
  width: 30%;
}

.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #7e1d99;
  outline: solid 2px #7e1d99;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: #7e1d99;
}

.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
  content: attr(data-sm-link-text);
  color: #ccc;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}
